{% extends 'quote/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block information %} 
<div  class="container bg-primary">
    <div class="row bg-secondary text-center p-5 text-white">
        <h1 style="color: chartreuse;">Quotes Of The Day</h1>
        <br><br>
        <small class="fs-4"><b>Age is an issue of mind over matter, if you don't mind, it doesn't matter</b></small>
    </div>
</div>
{% endblock information %}
<br><br><br>
{% block main-content %} 
<br><br>
<div class=" container text-center bg-primary">
  <div  class="row">
    {% for q in content %}
      <div style="margin-top: 1cm;" class="col-3">
        <div class="card text-center" style="width: 18rem; display:inline-block ;">
            <div class="card-body">
                <h5 class=" card-title">Quotes</h5>
                <p class="card-text">{{ q.text }}</p>
                <h6 class=" card-title"><b>{{ q.auther }}</b></h6>

            </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock main-content %}